#!/bin/bash

export S7ISOL_RUN_FN="bash bin/run/wezterm.sh"
export S7ISOL_ROOT="/tmp/s7isol"
export OLD_VSCODE_USER_DATA_DIR="$XDG_CONFIG_HOME/Code"
export OLD_VSCODE_EXTENSIONS_DIR="$HOME/.vscode/extensions"
